@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'eesti';
  src: url('./assets/fonts/gt-eesti.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  @apply font-eesti;
}
