@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'eesti';
  src: url('./shared/assets/fonts/gt-eesti.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  @apply font-eesti;
  @apply bg-default-100 dark:bg-default-900;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
